.blog {
  margin: 20px 0;
}

.blog-content {
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.blog-content:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media only screen and (max-width: 600px) {
  .blog-content {
    margin: 10px 0;
  }
}
