.service-card {
  padding: 30px;
  transition: all 0.5s;
  background-color: #fff;
}

.service-card:hover {
  box-shadow: rgba(244, 25, 25, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.service-card i {
  padding: 15px;
  font-size: 50px;
  color: #ff4f5a;
}
